
h1 {
    font-size: 24px;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    background-color: black;
    color: ghostwhite;
}
p {
    margin-left: 20%;
    margin-right: 20%;
}